# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7479dbbee2958ee2ce7d9ed944da03a882445f897c60a6931c183c95a126de26e6bec8788e35a657be10eafb02346e2de98774b6ff60ce59d03afbc682aac77e

test:
  secret_key_base: 58f99998515dc3b43bca351c3c3df7c99f6ff84efac1c5201335b35e90d0427640bed491bc88bb36dc334693b9c9c9cb9f64fcd81e2e41e546846db2d5276342

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
